
      .header { background-color: aqua; padding: 20px; position: relative;}
      .header-text { position: absolute;top: 40px;   right: 20px;font-size: 20px;font-weight: bold;}
      .card-section { display: flex;justify-content: center;gap: 30px;margin: 60px 0;}
      .card {width: 300px;height: 300px;background-color: #ff0000;display: flex;justify-content: center; align-items: center;font-size: 18px;font-weight: bold;}
table {font-family: arial, sans-serif;border-collapse: collapse;width: 100%;
  }td, th { border: 1px solid #000000; text-align: left; padding: 8px;}tr:nth-child(even) {background-color: #84bfdc;}
.link-wrap {display: flex;justify-content: flex-end; gap: 12px;width: 100%;}
